
#hide {
    float:left;
    margin-left: 55rem;
}
#exampleCheck1{
    margin-left: 5px;
}

#modalMensaje{
    margin-top: 10rem;
}

.mensaje{
    width: 570px;
    height: auto;
    font-size: 15px;
}
.justificado{
    text-align: justify;
}


