#buttons .btn {
    background-color: #043c0b;
    color: white;
    font-size: 13px;
    padding: 3px 6px 3px 6px;
    margin-left: 6px;
}

.btn:hover {
    color: white;
}

#buttons{
    margin-left: 850px;
}

#title{
    margin-left: 11rem;
}

#titulos-isr{
    margin-left: 10rem;
    margin-top: 50px;
}

#ocultar{
    margin-left: 70px;
}

#contenido-isr{
    margin-top: 30px;
    margin-left: 250px;
}

input{
    text-align: right;
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

#detalle-button{
    text-align: left;
    position: absolute;
    margin-bottom: 10px;
}

#detalle-button button{
    font-size: 15px;
    padding: 2px 10px 2px 10px;
    margin-bottom: 15px;
    margin-left: 515px;
    background-color: #0b6516;
}


