html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;

}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('/images/portada.jpg');
    width: 100%;
    height: 100%;

}

.position-ref {
    position: relative;
}


.content {
    text-align: center;
}

.title {
    font-size: 25px;
}

.mb-1{
    color: white;
    font-family: "Homer Simpson UI";
}
h3{
    color: white;
    font-size: 25px;
    margin-top: 2rem;
}

.col-xl-9{
    background-color: #1d643bc2;
    padding: 5%;
}

a{
    color: white;
    margin-top: 2em;
}

