.selectForm{
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #cccccc85;
    background-color: #f3f3f3;
}

#title-instructions{
    margin-top: 10px;
}

#title-otras{
    color: #5a6268;
    font-weight: bold;
}

a:link, a:visited, a:active{
    color: #1b1e21;
    text-decoration: none;
}

#tr-title{
    margin-left: 19px;
}

.selecIndividual{
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #cccccc85;
    width: 538px;
    margin-left: 1px;
    margin-bottom: 10px;
}

table .tr-content td{
    text-align: right;
}

.col-2{
    text-align: right;
    background-color: #bbbbbb00;
    border: none;
}

.card-text{
    text-align: right;
    background-color: #bbbbbb00;
    border: none;
}

.card-body{
    margin-left: 335px;
    padding: 5px;
}

.card-body input{
    font-weight: bold;
}


