.card-body{
    margin-left: 24rem;
    width: 60%;
    height: auto;
}

.card-title, .card-subtitle{
    font-size: 7rem;
    width: 100%;
    height: auto;
    font-family: sans-serif;
    font-weight: bolder;
    color: #1d643b;
}

.card-subtitle{
    position: absolute;
    top: 260px; left: 420px;
    width: 103px;
    height: 61px

}

.card-text{
    position: absolute;
    top: 245px; left: 465px;
    width: 50rem;
    height: auto;
    margin-top: 7.5rem;
    font-size: 50px;
    color: #6c757d;
}
.card-image{
    position: absolute;
    left: 380px;
    margin-top: 10rem;
    width: 36rem;
    height: 10rem;
    background-image: url('/images/escritorio.jpg');
}
